::before,
::after,
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --dark-15:hsl(216, 7%, 15%);
    --white-95:hsl(0, 0%, 95%);
    --blue-15: hsl(242, 51%, 15%);
    --blue-25:hsl(242, 86%, 25%);
    --blue-35:hsl(242, 86%, 35%);
    --blue-45:hsl(242, 86%, 45%);
    --blue-80:hsl(230, 100%, 80%);
    --orange-70:hsl(2, 88%, 70%);
    --cyan:hsl(189, 96%, 58%);


}

body {
    font-family: 'Poppins', sans-serif;
    background: var(--white-95)
}

a {
    text-decoration: none;
}

input[type='text'],
input[type='email'],
input[type='password'],
input[type='number'] {
    width: 100%;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
    letter-spacing: 0.05rem;
    color: var(--blue-15);
}